$azure: #F5F7F7;
$bali-hai: #84929B;
$shuttle-grey: #596873;
$steel-blue: #3E6FB2;
$pattents-blue: #D5DFE5;
$water: #C7CFD6;
$dark-grey: #5A6872;
$lynch: #69767F;
$spindle: #B7C1CA;
$attol : #1A8384;
$gainsborro: #D8D8D8;
$lochmara: #2E63AC;